<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="FishRecipe.css" />
    <title>Document</title>
  </head>

  <body>
    <main>
      <div class="JumboFish">
        <h1>Jumbo fish fingers</h1>
        <br />
        <h4>GOLDEN CRISPY BREADCRUMBS</h4>
        <p>
          <strong>Makes</strong> 10 portions <strong>Cooks In</strong> 25
          minutes prep, plus cooking <strong>Difficulty</strong> Not too tricky
        </p>
        <hr class="split-header" />
      </div>

      <div class="ingredients">
        <h1>INGREDIENTS</h1>
        <div class="Ingredients-Container">
          <div class="sub2">
            <div class="fishFinger">
              <img
                src="JumboFishFingers.jpg"
                alt="Picture of Jumbo Fish Fingers"
                style="width: 100%"
              />
            </div>

            <ul>
              <li>
                1 x 2 kg side of salmon, skin off, pin-boned, from sustainable
                sources
              </li>
              <li>2 large free-range eggs</li>
              <li>2 tsp sweet smoked paprika</li>
              <li>250 g wholemeal bread</li>
            </ul>

            <ul>
              <li>30 g Cheddar cheese</li>
              <br />
              <li>extra virgin olive oil</li>
            </ul>
          </div>
        </div>
        <hr />
      </div>

      <div class="method">
        <h1>METHOD</h1>

        <div class="flexbox-method-container">
          <ol>
            <li>
              <strong>Cut the fish into 10 x 120g portions.</strong> I tend to
              cut the side lengthways about 3cm thick, then into chunks from
              that.
            </li>
            <li>
              <strong>In a shallow bowl:</strong>
              <ul>
                <li>
                  whisk the eggs with the paprika and a pinch of sea salt and
                  black pepper.
                </li>
                <li>
                  Tear the bread into a food processor, grate in the cheese, add
                  2 tbsp of oil and whiz until you have breadcrumbs, then tip
                  into a tray.
                </li>
                <li>
                  Coat each fish portion in the egg mixture, let any excess drip
                  off, then turn in the breadcrumbs until well coated all over.
                </li>
                <li>
                  Transfer to a tray lined with greaseproof paper, layering them
                  up between sheets of paper until they're all coated.
                </li>
                <li>
                  Cook right away or freeze in the tray-once frozen, you can pop
                  them into a tub or sandwich bags for easier storage.
                </li>
              </ul>
            </li>

            <li>
              <strong>To cook:</strong>
              <ul>
                <li>
                  Place however many jumbo fish fingers you need on a roasting
                  tray.
                </li>
                <li>
                  Cook in a preheated oven at 200°C/400°F/gas 6 for 15 minutes
                  from fresh, or 20 minutes from frozen, or until golden and
                  cooked through.
                </li>
              </ul>
            </li>
          </ol>
        </div>
        <hr />
      </div>

      <div class="comments-container">
        <div class="ingredients">
          <h1>User Comments</h1>
        </div>
        <div class="write-comment">
          <fieldset>
            <legend>Enter a comment:</legend>
            <p><strong>Name:</strong></p>
            <input type="text" style="width: 300px" />
            <p><strong>Comment:</strong></p>
            <p>
              <textarea
                cols="40"
                rows="8"
                placeholder="Enter your text here..."
              ></textarea>
            </p>
            <img src="PlusSign.jpg" alt="Plus Sign" width="60" height="60" />
          </fieldset>
          <strong>All comments:</strong>
        </div>

        <div class="user-comments">
          <div class="comments">
            <p>This is a very fun recipe to follow.</p>
            <p>- Ahmed Z.</p>
          </div>
          <div class="comments">
            <p>This is my favorite recipe. I enjoy it.</p>
            <p>- Karim K.</p>
          </div>
        </div>
        <hr />
      </div>

      
        <div class="method">
          <h1>Sign-up to receive new recipes</h1>
        </div>
        <div class="sign-up-info">
          <fieldset>
            <legend>Personal Information</legend>
            <p>
              <strong>Name:</strong>
              <input type="text" />
            </p>
            <p>
              <strong>Email:</strong>
              <input type="email" placeholder="xxxx@domain.com" />
            </p>
          </fieldset>
          <p></p>

          <fieldset>
            <legend>Types of recipes</legend>
            <label>brakfast</label>
            <input type="radio" />
            <label>Lunch</label>
            <input type="radio" />
            <label>Dinner</label>
            <input type="radio" />
          </fieldset>

          <form action="mailto:xxxx@domain.com" method="get">
            <p><button>Sign up</button></p>
          </form>
         
         </div>
         <hr>
          <div class="Links">
            <h1>links</h1>
            
            <a
              href="https://www.google.com/search?q=fish+fingers+recipe&start=10"
              >Search for other fish fingers recipes</a
            >
          </div>
        
    </main>
  </body>

  <footer></footer>
</html>
